<app-header></app-header>


<main>


    <div class="container my-5">
        <div class="bg-light p-5 rounded">
            <div class="col-sm-8 py-5 mx-auto">
                <h1 class="display-5 fw-normal">Participacion sube una foto:</h1>

                <div class="row pt-3 text-center">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalFileUpload"> Sube una Foto </button>
                </div>
                
            </div>
        </div>
    </div>



    <!-- MODAL -->
    <!-- Modal -->
    <div class="modal fade" id="modalFileUpload" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Selecciona una foto</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <app-uploadimage  (imagenServida)="recibeData($event)"></app-uploadimage>
                </div>

            </div>
        </div>
    </div>
    <app-footer></app-footer>
</main>