<app-header></app-header>




<main>

    <div class="container my-5">
        <div class="bg-light p-5 rounded">
            <div class="col-sm-8 py-5 mx-auto">
                <h1 class="display-5 fw-normal">Hola Juenito</h1>
    
                <div class="table-responsive">
            
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Ticket</th>
                                <th scope="col">Puntos</th>
                                <th scope="col">Fecha</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>124455500</td>
                                <td>25</td>
                                <td>2022-05-26</td>
                            </tr>
                            <tr>
                                <th scope="row">1</th>
                                <td>124455500</td>
                                <td>25</td>
                                <td>2022-05-26</td>
                            </tr>
                            <tr>
                                <th scope="row">1</th>
                                <td>124455500</td>
                                <td>25</td>
                                <td>2022-05-26</td>
                            </tr>
                            <tr>
                                <th scope="row">1</th>
                                <td>124455500</td>
                                <td>25</td>
                                <td>2022-05-26</td>
                            </tr>
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>




    <app-footer></app-footer>
</main>
