<app-header></app-header>


<main>


    <div class="container my-5">
        <div class="bg-light p-5 rounded">
            <div class="col-sm-8 py-5 mx-auto">
                <h1 class="display-5 fw-normal">Gracias por tu Participacion</h1>

                <div class="row pt-3 text-center">
                    <button type="button" class="btn btn-primary" [routerLink]="['/cuenta']" > Mi cuenta </button>
                </div>
    
                
            </div>
        </div>
    </div>


    <app-footer></app-footer>
</main>