<app-header></app-header>

<main>
<!-- Carrusel -->
<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true"
            aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg"
                aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                <rect width="100%" height="100%" fill="#777" />
            </svg>

            <div class="container">
                <div class="carousel-caption text-start">
                    <h1>Example headline.</h1>
                    <p>Some representative placeholder content for the first slide of the carousel.</p>
                    <p><a class="btn btn-lg btn-primary" href="#">Sign up today</a></p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg"
                aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                <rect width="100%" height="100%" fill="#777" />
            </svg>

            <div class="container">
                <div class="carousel-caption">
                    <h1>Another example headline.</h1>
                    <p>Some representative placeholder content for the second slide of the carousel.</p>
                    <p><a class="btn btn-lg btn-primary" href="#">Learn more</a></p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg"
                aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                <rect width="100%" height="100%" fill="#777" />
            </svg>

            <div class="container">
                <div class="carousel-caption text-end">
                    <h1>One more for good measure.</h1>
                    <p>Some representative placeholder content for the third slide of this carousel.</p>
                    <p><a class="btn btn-lg btn-primary" href="#">Browse gallery</a></p>
                </div>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<!-- /termina carrusel -->





    <!-- Mecanica -->
    

    <div class="container marketing">

        <div class="row">
            <div class="col-lg-4">
                <svg class="bd-placeholder-img rounded-circle" width="140" height="140"
                    xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140"
                    preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#777" /><text x="50%" y="50%" fill="#777"
                        dy=".3em">140x140</text>
                </svg>

                <h2 class="fw-normal">Heading</h2>
                <p>Some representative placeholder content for the three columns of text below the carousel. This is the
                    first column.</p>
                <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <svg class="bd-placeholder-img rounded-circle" width="140" height="140"
                    xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140"
                    preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#777" /><text x="50%" y="50%" fill="#777"
                        dy=".3em">140x140</text>
                </svg>

                <h2 class="fw-normal">Heading</h2>
                <p>Another exciting bit of representative placeholder content. This time, we've moved on to the second
                    column.</p>
                <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <svg class="bd-placeholder-img rounded-circle" width="140" height="140"
                    xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140"
                    preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#777" /><text x="50%" y="50%" fill="#777"
                        dy=".3em">140x140</text>
                </svg>

                <h2 class="fw-normal">Heading</h2>
                <p>And lastly this, the third column of representative placeholder content.</p>
                <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
            </div><!-- /.col-lg-4 -->

        </div><!-- /.row -->
        <!-- / Termina mecanica -->
        <hr class="featurette-divider">




        <!-- Registro -->
        <div class="row">
            <!-- Registro form -->
            <div class="col-md-6 p-2">
                <h2>Registro</h2>
                <form [formGroup]="registroForm" (ngSubmit)="registrousr()">
                    <div class="col-md-12">
                        <label for="" class="form-label">Nombre completo</label>
                        <input type="text" 
                        required 
                        name="nombreregistro" 
                        formControlName="nombreregistro" 
                        class="form-control"
                        [class.is-invalid]="registroForm.get('nombreregistro')?.invalid && registroForm.get('nombreregistro')?.touched"
                        [class.is-valid]="registroForm.get('nombreregistro')?.valid && registroForm.get('nombreregistro')?.touched"
                        >
                        <span class="text-danger" *ngIf="isSubmitReg && registroForm.get('nombreregistro')?.invalid">Este campo es requerido y solo se aceptan letras mínimo de caracteres (3).</span>
                    </div>

                    <div class="col-md-12">
                        <label for="" class="form-label">Dirección</label>
                        <input type="text"                       
                        required 
                        name="direccionregistro" 
                        formControlName="direccionregistro" 
                        class="form-control"
                        [class.is-invalid]="registroForm.get('direccionregistro')?.invalid && registroForm.get('direccionregistro')?.touched"
                        [class.is-valid]="registroForm.get('direccionregistro')?.valid && registroForm.get('direccionregistro')?.touched"
                        >
                        <span class="text-danger" *ngIf="isSubmitReg && registroForm.get('direccionregistro')?.invalid">Este campo es requerido y solo aceptan un mínimo de caracteres (3).</span>
                    </div>

                    <div class="col-md-12">
                        <label for="" class="form-label">Estado</label>
                        <select
                            required 
                            name="estadoregistro" 
                            formControlName="estadoregistro" 
                            class="form-select"
                            [class.is-invalid]="registroForm.get('estadoregistro')?.invalid && registroForm.get('estadoregistro')?.touched"
                            [class.is-valid]="registroForm.get('estadoregistro')?.valid && registroForm.get('estadoregistro')?.touched"
                            
                            >
                            <option value="0" selected>Seleccione un estado</option>
                            <option value="Aguascalientes">Aguascalientes</option>
                            <option value="Baja California">Baja California</option>
                            <option value="Baja California Sur">Baja California Sur</option>
                            <option value="Campeche">Campeche</option>
                            <option value="Coahuila de Zaragoza">Coahuila de Zaragoza</option>
                            <option value="Colima">Colima</option>
                            <option value="Chiapas">Chiapas</option>
                            <option value="Chihuahua">Chihuahua</option>
                            <option value="Ciudad de México">Ciudad de México</option>
                            <option value="Durango">Durango</option>
                            <option value="Guanajuato">Guanajuato</option>
                            <option value="Guerrero">Guerrero</option>
                            <option value="Hidalgo">Hidalgo</option>
                            <option value="Jalisco">Jalisco</option>
                            <option value="México">México</option>
                            <option value="Michoacán de Ocampo">Michoacán de Ocampo</option>
                            <option value="Morelos">Morelos</option>
                            <option value="Nayarit">Nayarit</option>
                            <option value="Nuevo León">Nuevo León</option>
                            <option value="Oaxaca">Oaxaca</option>
                            <option value="Puebla">Puebla</option>
                            <option value="Querétaro">Querétaro</option>
                            <option value="Quintana Roo">Quintana Roo</option>
                            <option value="San Luis Potosí">San Luis Potosí</option>
                            <option value="Sinaloa">Sinaloa</option>
                            <option value="Sonora">Sonora</option>
                            <option value="Tabasco">Tabasco</option>
                            <option value="Tamaulipas">Tamaulipas</option>
                            <option value="Tlaxcala">Tlaxcala</option>
                            <option value="Veracruz">Veracruz</option>
                            <option value="Yucatán">Yucatán</option>
                            <option value="Zacatecas">Zacatecas</option>
                        </select>
                        <span class="text-danger" *ngIf="isSubmitReg && registroForm.get('estadoregistro')?.invalid">Debe seleccionar un estado.</span>

                    </div>
                    

                    <div class="col-md-12">
                        <label for="" class="form-label">Correo electrónico</label>
                        <!-- <input type="email" class="form-control" id="inputEmail4" > -->
                        <input type="email"
                        required 
                        name="emailregistro" 
                        formControlName="emailregistro" 
                        class="form-control"
                        [class.is-invalid]="registroForm.get('emailregistro')?.invalid && registroForm.get('emailregistro')?.touched"
                        [class.is-valid]="registroForm.get('emailregistro')?.valid && registroForm.get('emailregistro')?.touched"
                        >
                        <span class="text-danger" *ngIf="isSubmitReg && registroForm.get('emailregistro')?.invalid">Debe proporcionar una cuenta de correo válida.</span>

                    </div>

                    <div class="col-md-12">
                        <label for="" class="form-label">Contraseña</label>
                        <!-- <input type="password" class="form-control" id="inputPassword4"> -->
                        <input type="password" 
                        required 
                        name="passwordregistro" 
                        formControlName="passwordregistro" 
                        class="form-control"
                        [class.is-invalid]="registroForm.get('passwordregistro')?.invalid && registroForm.get('passwordregistro')?.touched"
                        [class.is-valid]="registroForm.get('passwordregistro')?.valid && registroForm.get('passwordregistro')?.touched"
                        >
                        <span class="text-danger" *ngIf="isSubmitReg && registroForm.get('passwordregistro')?.invalid">Este campo es requerido y solo se aceptan mínimo de caracteres (5).</span>
                        <!-- <img class="password-eye" src="assets/images/show.png" title="Mostrar Contraseña" > -->


                    </div>


                    <div class="col-12">
                        <label for="" class="form-label">Teléfono</label>
                        <input type="tel"
                        required 
                        name="telefonoregistro" 
                        formControlName="telefonoregistro" 
                        class="form-control"
                        [class.is-invalid]="registroForm.get('telefonoregistro')?.invalid && registroForm.get('telefonoregistro')?.touched"
                        [class.is-valid]="registroForm.get('telefonoregistro')?.valid && registroForm.get('telefonoregistro')?.touched"
                        maxlength="10"
                        >
                        <span class="text-danger" *ngIf="isSubmitReg && registroForm.get('telefonoregistro')?.invalid">Este campo es requerido y solo se aceptan números. mínimo 10 caracteres.</span>
                        
                    </div>



                    <div class="col-md-12">
                        <label for="" class="form-label">Edad</label>
                        <input type="tel"
                        required 
                        name="edadregistro" 
                        formControlName="edadregistro" 
                        class="form-control"
                        [class.is-invalid]="registroForm.get('edadregistro')?.invalid && registroForm.get('edadregistro')?.touched"
                        [class.is-valid]="registroForm.get('edadregistro')?.valid && registroForm.get('edadregistro')?.touched"
                        >
                        <span class="text-danger" *ngIf="isSubmitReg && registroForm.get('edadregistro')?.invalid">Este campo es requerido y solo se aceptan números (2).</span>

                    </div>

                    <div class="col-md-12">
                        <!-- <div class="input-checkbox"> -->
                            <input type="checkbox"
                                required 
                                name="terminos" 
                                id="terminos" 
                                formControlName="terminos" 
                                class="form-control"
                                [class.is-invalid]="registroForm.get('terminos')?.invalid && registroForm.get('terminos')?.touched"
                                [class.is-valid]="registroForm.get('terminos')?.valid && registroForm.get('terminos')?.touched"
                            >
                            <p>Leí y estoy de acuerdo en los 
                                <span data-bs-toggle="modal" data-bs-target="#Terminos">Términos y Condiciones</span> de esta promoción.<br>
                                <span class="text-danger" *ngIf="isSubmitReg && registroForm.get('terminos')?.invalid " >
                                Este campo es requerido.
                                </span></p> 
                        <!-- </div> -->
                    </div>

                    <div class="col-12">
                        <button type="submit" class="btn btn-primary">Sign in</button>
                    </div>
                </form>
            </div>
            <!-- /Termina Registro form -->

            <!-- Login form -->
            <div class="col-md-6 p-2">
                <h2>Login</h2>
                <form [formGroup]="loginForm" (ngSubmit)="loginusr()">
                    <div class="row mb-3">
                        <label for="emaillogin" class="col-sm-2 col-form-label ">Email</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" id="emaillogin" formControlName="emaillogin" required
                            [class.is-invalid]="loginForm.get('emaillogin')?.invalid && loginForm.get('emaillogin')?.touched"
                            [class.is-valid]="loginForm.get('emaillogin')?.valid && loginForm.get('emaillogin')?.touched"
                            >
                        </div>
                        <span class="text-danger" *ngIf="isSubmitLogin && loginForm.get('emaillogin')?.invalid">Este campo es requerido</span>
                    </div>
                    <div class="row mb-3">
                        <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" id="inputPassword3" formControlName="inputPassword3" required
                            [class.is-invalid]="loginForm.get('inputPassword3')?.invalid && loginForm.get('inputPassword3')?.touched"
                            [class.is-valid]="loginForm.get('inputPassword3')?.valid && loginForm.get('inputPassword3')?.touched"
                            >
                        </div>
                        <span class="text-danger" *ngIf="isSubmitLogin && loginForm.get('inputPassword3')?.invalid">Este campo es requerido</span>
                    </div>


                    <button type="submit" class="btn btn-primary">INGRESAR</button>
                </form>


            </div>
            <!-- / termina Login form -->
        </div>
        <!-- / Termina registro -->



        <!-- Premios -->

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading fw-normal lh-1">Descubre grandes premios</h2>
                <p class="lead">Puedes ganar todo lo que quieras</p>
            </div>
            <div class="col-md-5">
                <img src="assets/images/premios.jpg" class="img-fluid" alt="">
            </div>
        </div>



        <!-- /termina premios -->

    </div><!-- /.container -->


    <app-footer></app-footer>
</main>